<!-- Loader -->
<div class="d-flex justify-content-center loader" ng-show="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Contenido -->
<div class="row px-5">
  <div class="col-sm-12">
    <button class="btn btn-secondary btn-lg" ng-click="return()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg> Volver</button>
    <br>
    <br>
    <h3>Crear nuevo contacto</h3>
    <br>
    <form name="newUser">
      <div class="form-group">
        <label for="email">Nombre</label>
        <input type="text" class="form-control" id="email" required="required" ng-model="contact.nombre">
      </div>
      <div class="form-group">
        <label for="email">Correo electronico</label>
        <input type="email" class="form-control" id="email" required="required" ng-model="contact.correo_electronico">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" required="required" ng-model="contact.direccion">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono" required="required" ng-model="contact.telefono">
      </div>
      <div class="form-group">
        <label for="nacimiento">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="nacimiento" required="required" ng-model="contact.fecha_de_nacimiento">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="saveUser(contact)">Crear contacto</button>
    </form>
    </div>
    </div>
